<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Konfiguration för elever</h3>
    </div>
    <div class="panel-body">
        <label>Välj mapp att spara filer till</label>
        <div class="form-group">
            <input class="form-control" data-removable data-component="file-selector" name="file-folder">
        </div>
    </div>
</div>