<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Konfigurera inställningarna</h3>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <label>Välj den grupp som skall ha tillgång till att editera information på webbplatsen.</label>
            <input class="form-control" data-component="user-selector" name="usergroup" data-removable>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Välj grupp för regionchefer.</label>
            <input class="form-control" data-component="user-selector" name="regiongroup" data-removable>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Välj grupp för coacher</label>
            <input class="form-control" data-component="user-selector" name="coachesgroup" data-removable>
        </div>
    </div>
</div>