<% if(timeSheetStatus.waiting.length > 0){ %>
<div class="lax-alert env-alert env-alert--info" role="alert">
    <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
    <span class="lax-alert__message">Du har <strong> <%- timeSheetStatus.waiting.length %></strong>
        <% if(timeSheetStatus.waiting.length === 1){%> rapport <% } else { %> rapporter <% } %> som väntar på
        godkännande från
        administratör.</span>
        <span class="lax-alert__push">
        <button class="fa fa-chevron-down fa-1 accordion"></button>
        <div class="lax-accordion-container env-accordion">
        <div class="lax-component__header2">
            <p>Inskickat datum</p>
            <p>Datum</p>
            <p>Typ</p>
            <p>Arbete</p>
            <p>Antal timmar</p>
        </div>
        <ul class="lax-timesheet-list">
            <% for(var i = 0; i < timeSheetStatus.waiting.length; i++){ %>
            <li class="lax-timesheet-list__item">
                <p><%- timeSheetStatus.waiting[i].sendDate.split("T")[0] %></p>
                <p><%- timeSheetStatus.waiting[i].workDate.split("T")[0] %></p>
                <p><%- timeSheetStatus.waiting[i].workType %></p>
                <p><%- timeSheetStatus.waiting[i].workStatus %></p>
                <p><%- timeSheetStatus.waiting[i].workHours %></p>
                <button type="button" data-delete-timesheet data-dsid="<%= timeSheetStatus.waiting[i].dsid %>"
                    class="lax-button__reject env-button env-button--danger">Ta bort</button>
            </li>
            <% } %>
        </ul>

        <script>
            //get waiting timesheets from storage
            let waitingTimesheets = [];
            getTimesheets = JSON.parse(timesheetsStorage.getItem("ds.analyzed.workstate:Väntante") || "[]"); 
            waitingTimesheets = [getTimesheets];

        </script>
        
    </span>
</div>

        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    /* Toggle between adding and removing the "active" class,
                    to highlight the button that controls the panel */
                    this.classList.toggle("active");

                    /* Toggle between hiding and showing the active panel */
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                    panel.style.display = "none";
                    } else {
                    panel.style.display = "block";
                    }
                });
            }
        </script>
    </a>


</div>
<% } %>
<% if(timeSheetStatus.rejected.length > 0){ %>
<div id="heading-1" class="lax-accordion__heading-wrapper lax-alert env-alert env-alert--danger">
    <a href="#container-1" class="lax-accordion__heading" data-env-accordion aria-controls="container-1">
        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        <span class="lax-alert__message">
            Du har <strong> <%- timeSheetStatus.rejected.length %></strong>
            <% if(timeSheetStatus.rejected.length === 1){%> rapport <% } else { %> rapporter <% } %> som avslogs av
            administratör.
        </span>
        <span class="lax-alert__push"><i class="fa fa-chevron-down fa-1" aria-hidden="true"></i></span>
    </a>
</div>
<div id="container-1" class="lax-accordion-container env-accordion" aria-expanded="true" aria-labelledby="heading-1"
    data-parent="#lax-accordion">
    <div class="lax-component">
        <div class="lax-component__header2">
            <p>Inskickat datum</p>
            <p>Datum</p>
            <p>Typ</p>
            <p>Arbete</p>
            <p>Antal timmar</p>
            <p>Kommentar</p>
        </div>
        <ul class="lax-timesheet-list">
            <% for(var i = 0; i < timeSheetStatus.rejected.length; i++){ %>
            <li class="lax-timesheet-list__item">
                <p><%- timeSheetStatus.rejected[i].sendDate.split("T")[0] %></p>
                <p><%- timeSheetStatus.rejected[i].workDate.split("T")[0] %></p>
                <p><%- timeSheetStatus.rejected[i].workType %></p>
                <p><%- timeSheetStatus.rejected[i].workStatus %></p>
                <p><%- timeSheetStatus.rejected[i].workHours %></p>
                <p><%- timeSheetStatus.rejected[i].comment %></p>
            </li>
            <% } %>
        </ul>
    </div>
</div>
<% } %>
<h3>Tidrapporter kan inte längre läggas till i detta systemet.</h3>
<% if(message){ %>
<% if(success){ %>
<div class="env-alert lax-alert lax-alert--success env-alert--success" role="alert"><strong><%- message %></strong>
</div>
<% } else { %>
<div class="env-alert lax-alert lax-alert--danger env-alert--danger" role="alert"><strong><%- message %></strong></div>
<% } %>
<% }%>