
<button class="lax-button env-button env-button--primary btn-export-data">
    Exportera data
</button>

<script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
<script>
    svDocReady(function() {
        const $ = jQuery;
        
        $(".btn-export-data").click(function() {
            $.get("<%= getUrl('/get-export-data') %>").done(function(response) {
                generateWorkbook(response);
            }).fail(function(error) {
                alert("Exporten misslyckades");
            });
        });
        
        function convertStringToArray(data) {
            const array = new Uint8Array(new ArrayBuffer(data.length));
            for (let i = 0; i < data.length; i++) {
                array[i] = data.charCodeAt(i) & 0xFF;
            }
            return array;
        }
        
        function generateFile(name, contentType, data) {
            JSON.stringify()
            const blob = new Blob([convertStringToArray(data)], {
                type: contentType
            });
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.style.display = "none";
            a.href = url;
            a.download = name;
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
            a.remove();
        }
        
        function addWorkSheet(workbook, sheetName, data, columns) {
            workbook.SheetNames.push(sheetName);
            const ws = {};
            for (let i = 0; i < columns.length; i++) {
                XLSX.utils.sheet_add_aoa(ws, [[columns[i].name]], {
                    origin: {
                        r: 0,
                        c: i
                    }
                });
            }
            for (let row = 0; row < data.length; row++) {
                for (let col = 0; col < columns.length; col++) {
                    const dataKey = columns[col].key;
                    const value = data[row][dataKey];
                    if (value !== undefined && value !== null && value !== "") {
                        const transformedValue = columns[col].transformValue ? columns[col].transformValue(value) : value;
                        XLSX.utils.sheet_add_aoa(ws, [[transformedValue]], {
                            origin: {
                                r: row + 1,
                                c: col
                            }
                        });
                    }
                }
            }
            workbook.Sheets[sheetName] = ws;
        }
        
        function generateWorkbook(data) {
            const wb = XLSX.utils.book_new();
            if (data.regions) {
                addWorkSheet(wb, "Regioner", data.regions, [
                    {
                        key: "name",
                        name: "Namn"
                    },
                    {
                        key: "responsible",
                        name: "Ansvarig"
                    }
                ]);
            }
            if (data.areas) {
                addWorkSheet(wb, "Område", data.areas, [
                    {
                        key: "name",
                        name: "Namn"
                    },
                    {
                        key: "region",
                        name: "Region"
                    },
                    {
                        key: "coach",
                        name: "Ansvarig"
                    }
                ]);
            }
            if (data.schools) {
                addWorkSheet(wb, "Skolor", data.schools, [
                    {
                        key: "name",
                        name: "Namn"
                    },
                    {
                        key: "area",
                        name: "Område"
                    },
                    {
                        key: "address",
                        name: "Adress"
                    },
                    {
                        key: "contactPerson",
                        name: "Kontaktperson"
                    },
                    {
                        key: "contactPersonPhone",
                        name: "Telefon till kontaktperson"
                    },
                    {
                        key: "tutors",
                        name: "Läxhjälpare"
                    }
                ]);
            }
            if (data.groups) {
                addWorkSheet(wb, "Grupper", data.groups, [
                    {
                        key: "name",
                        name: "Namn"
                    },
                    {
                        key: "school",
                        name: "Skola"
                    },
                    {
                        key: "tutors",
                        name: "Läxhjälpare"
                    }
                ]);
            }
            if (data.tutors) {
                addWorkSheet(wb, "Läxhjälpare", data.tutors, [
                    {
                        key: "name",
                        name: "Namn"
                    },
                    {
                        key: "school",
                        name: "Skola"
                    },
                    {
                        key: "students",
                        name: "Studenter"
                    }
                ]);
            }
            if (data.students) {
                addWorkSheet(wb, "Studenter", data.students, [
                    {
                        key: "socialSecurityNumber",
                        name: "Personnummer"
                    },
                    {
                        key: "firstName",
                        name: "Förnamn"
                    },
                    {
                        key: "lastName",
                        name: "Efternamn"
                    },
                    {
                        key: "school",
                        name: "Skola"
                    },
                    {
                        key: "grade",
                        name: "Årskurs"
                    },
                    {
                        key: "startDate",
                        name: "Startdatum"
                    },
                    {
                        key: "endDate",
                        name: "Slutdatum"
                    },
                    {
                        key: "status",
                        name: "Status"
                    },
                    //{
                    //    key: "phone",
                    //    name: "Telefon"
                    //},
                    //{
                    //    key: "email",
                    //    name: "E-post"
                    //},
                    //{
                    //    key: "tutor",
                    //    name: "Läxhjälpare"
                    //},
                    //{
                    //    key: "caregiver",
                    //    name: "Vårdnadshavare"
                    //},
                    //{
                    //    key: "phoneCaregiver",
                    //    name: "Telefon till vårdnadshavare"
                    //},
                ]);
            }
            if (data.timesheets) {
                addWorkSheet(wb, "Tidrapporter", data.timesheets, [
                    {
                        key: "user",
                        name: "Läxhjälpare"
                    },
                    {
                        key: "workType",
                        name: "Typ"
                    },
                    {
                        key: "workStatus",
                        name: "Arbetstyp"
                    },
                    {
                        key: "workHours",
                        name: "Arbetstimmar"
                    },
                    {
                        key: "workState",
                        name: "Status"
                    },
                    {
                        key: "workDate",
                        name: "Datum",
                        transformValue: x => new Date(x).toLocaleDateString("sv")
                    },
                    {
                        key: "submittedDate",
                        name: "Inskickningsdatum",
                        transformValue: x => new Date(x)
                    },
                    {
                        key: "comment",
                        name: "Kommentar"
                    }
                ]);
            }
            
            const fileData = XLSX.write(wb, {
                bookType: "xlsx",
                type: "binary"
            });
            const contentType = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet";
            generateFile("test1.xlsx", contentType, fileData);
        }
    });
</script>
