<div class="lax-panel">
    <h3>Lägg till grupp</h3>
    <form class="lax-form env-form lax-form__add-tutor" action="<%= getUrl('/add-group') %>" method="post">
        <!--Namn-->
        <div class="env-form-element">
            <label for="name" class="env-form-element__label">Namn</label>
            <div class="env-form-element__control">
                <input name="name" type="text" value="<% if(name){ %><%= name %><% } %>" class="env-form-input"
                    id="name" min-length="2" required />
            </div>
        </div>
        <!--Skola-->
        <div class="env-form-element">
            <label for="select-school" class="env-form-element__label">Skola</label>
            <div class="env-form-element__control">
                <select class="env-form-input" id="select-school" name="school" required>
                    <% if(selectedSchool) {%>
                    <option value="<%= selectedSchool %>"><%- selectedSchool %></option>
                    <% } else{ %>
                    <option></option>
                    <% } %>
                    <% for(var i = 0; i < schoolsArea.length; i++) { %>
                    <optgroup label="<%= schoolsArea[i] %>">
                        <% for(var x = 0; x < schools.length; x++) { %>
                        <% if(schools[x].area === schoolsArea[i]){ %>
                        <option data-dsid="<%= schools[x].dsid %>" value="<%= schools[x].name %>">
                            <%- schools[x].name %></option>
                        <% } %>
                        <% } %>
                    </optgroup>
                    <% } %>
                </select>
            </div>
        </div>
        <% if(tutors){ %>
        <% if(tutors.length){ %>
        <div class="env-form-element">
            <label for="select-tutors" class="env-form-element__label">Läxhjälpare</label>
            <div class="env-form-element__control">
                <select id="tutors-select-multiple" class="env-form-input" name="tutors[]" multiple="multiple" required>
                    <% for(var x = 0; x < tutors.length; x++){ %>
                    <option value="<%= tutors[x].id %>">
                        <%- tutors[x].name %>
                    </option>
                    <% } %>
                </select>
            </div>
        </div>
        <% } else{ %>
        <p>Inga Läxhjälpare tillgängliga på skolan</p>
        <% } %>
        <% } %>
        <div class="env-form-element">
            <button type="submit" class="lax-button env-button env-button--primary" <% if(tutors){%>
                <% if(tutors.length){%> enabled <% }else{ %> disabled <% } %> <% } else{ %> disabled <% } %>>
                Lägg till
            </button>
        </div>
    </form>
    <% if(success){ %>
    <% if(alertType === "success"){%>
    <div class="env-alert lax-alert env-alert--success" role="alert"><strong><%- message %></strong></div>
    <% } else { %>
    <div class="env-alert lax-alert env-alert--danger" role="alert"><strong><%- message %></strong></div>
    <% } %>
    <% } %>
</div>