<a class="lax-button env-button env-button--primary" href="<%= getUrl('/search-groups', {query:queryparams}) %>"><i
        class="fa fa-chevron-left" aria-hidden="true"></i> Tillbaka</a>
<div class="lax-panel">
    <h3>Hantera elever</h3>
    <p>Du redigerar för närvarande elever kopplade till: <strong><%- tutorEntry[0].name %></strong>.</p>
    <form class="lax-form env-form lax-form__search-groups" action="<%= getUrl('/handle-tutor') %>" method="post">       
        <div class="env-form__row lax-form__row">
             <!--TUTOR DSID-->
            <div class="env-form-element" style="display:none">
                <div class="env-form-element__control">
                    <input name="tutordsid" type="text" class="env-form-input" value="<%= tutorEntry[0].dsid %>"
                        required readonly />
                </div>
            </div>
             <!--QUERYPARAMS-->
            <div class="env-form-element" style="display:none">
                <div class="env-form-element__control">
                    <input name="queryparams" type="text" class="env-form-input" value="<%= queryparams %>"
                        required readonly />
                </div>
            </div>
            <!--Elever-->
            <div class="env-form-element env-form-element--2">
                <label for="select-school" class="env-form-element__label">Läxhjälparens elever</label>
                <div class="env-form-element__control">
                    <select id="students-select-multiple" class="env-form-input" name="students[]" multiple="multiple">
                        <% for(var x = 0; x < tutorEntry[0].students.length; x++){ %>
                        <option selected value="<%= tutorEntry[0].students[x].dsid%>">
                            <%- tutorEntry[0].students[x].name %>
                        </option>
                        <% } %>
                        <% for(var i = 0; i < availableStudents.length; i++){ %>
                        <option value="<%= availableStudents[i].dsid %>">
                            <%- availableStudents[i].name %>
                        </option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="env-form-element" style="margin-top:21px">
                <button type="submit" class="lax-button env-button env-button--primary">
                    Spara
                </button>
            </div>
        </div>
    </form>
    <% if(success){ %>
        <% if(alertType === "success"){%>
        <div class="env-alert lax-alert env-alert--success" role="alert"><strong><%- message %></strong></div>
        <% } else { %>
        <div class="env-alert lax-alert env-alert--danger" role="alert"><strong><%- message %></strong></div>
        <% } %>
    <% } %>
</div>