<div id="heading-<%= dsid %>" class="lax-accordion__heading-wrapper">
    <a href="#container-<%= dsid %>" class="lax-accordion__heading" data-env-accordion
        aria-controls="container-<%= dsid %>" data-name="<%= name %>">
        <%- name %>
        <span><i class="fa fa-chevron-down fa-1" aria-hidden="true"></i></span>
    </a>
</div>
<div id="container-<%= dsid %>" class="env-accordion" aria-expanded="true" aria-labelledby="heading-<%= dsid %>"
    data-parent="#lax-accordion">
    <div class="lax-component">
        <form class="lax-form env-form lax-form__edit-group" action="<%= getUrl('/edit-group') %>" method="POST">
            <!--DSID-->
            <div class="env-form-element" style="display: none;">
                <label for="dsid-<%=dsid%>" class="env-form-element__label">DSID</label>
                <div class="env-form-element__control">
                    <input name="dsid" type="text" value="<%= dsid %>" class="env-form-input" id="dsid-<%=dsid%>"
                        required />
                </div>
            </div>
            <!--query-->
            <div class="env-form-element" style="display: none;">
                <label for="query-<%=dsid%>" class="env-form-element__label">queryparams</label>
                <div class="env-form-element__control">
                    <input name="query" type="text" value="<%= query %>" class="env-form-input" id="query-<%=dsid%>"
                        required />
                </div>
            </div>
            <div class="env-form__row lax-form__row">
                <!--Namn-->
                <div class="env-form-element">
                    <label for="name-<%=dsid%>" class="env-form-element__label">Namn</label>
                    <div class="env-form-element__control">
                        <input name="name" type="text" value="<% if(name){ %><%= name %><% } %>" class="env-form-input"
                            id="name-<%=dsid%>" min-length="2" required />
                    </div>
                </div>
                <!--Skola-->
                <div class="env-form-element">
                    <label for="school-<%=dsid%>" class="env-form-element__label">Skola</label>
                    <div class="env-form-element__control">
                        <input name="school" type="text" value="<% if(school){ %><%= school %><% } %>"
                            class="env-form-input" id="school-<%=dsid%>" title="Skola går inte att redigera" readonly />
                    </div>
                </div>
            </div>
            <div class="env-form__row lax-form__row">
                <div class="env-form-element">
                    <label for="select-tutors-<%=dsid%>" class="env-form-element__label">Läxhjälpare</label>
                    <div class="env-form-element__control">
                        <select id="select-tutors-<%=dsid%>" style="width:100%;" class="env-form-input" name="tutors[]"
                            multiple="multiple">
                            <% for(var x = 0; x < tutors.length; x++){ %>
                            <option selected value="<%= tutors[x].id %>"><%- tutors[x].name %></option>
                            <% } %>
                            <% for(var y = 0; y < availableTutors.length; y++){ %>
                            <option value="<%= availableTutors[y].id %>"><%- availableTutors[y].name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <script type="text/javascript">
                    svDocReady(function () {
                        (function ($) {
                            $("#select-tutors-<%=dsid%>").select2({
                                placeholder: "Välj läxhjälpare",
                                closeOnSelect: false,
                                width: 'resolve',
                                language: {
                                    noResults: function () {
                                        return "Inga läxhjälpare tillgängliga.";
                                    }
                                },
                            });
                        }(jQuery));
                    });
                </script>
                <div class="env-form-element lax-form-element__button">
                    <button type="submit" class="lax-button env-button env-button--primary">
                        Spara grupp
                    </button>
                </div>
            </div>
        </form>
        <h4>Gruppens nuvarande läxhjälpare</h4>
        <% if(tutors.length){ %>
            <%= renderer.renderComponent('Tutors-List', {tutors: tutors}) %>
        <% } else { %>
            <p>Inga läxhjälpare kopplade till gruppen.</p>
        <% } %>
    </div>
</div>