<div class="lax-tabs">
    <ul class="lax-tabs__nav">
        <li class="lax-tabs__item">
            <a class="lax-tabs__link" href="<%= getUrl('/') %>" tabindex="0">Lägg
                till grupp <i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a class="lax-tabs__link lax-tabs__link--active" href="javascript:;" tabindex="0">Sök
                grupp <i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
<div class="lax-panel">
    <h3>Sök grupp</h3>
    <form class="lax-form env-form lax-form__search-groups" action="<%= getUrl('/search-groups') %>" method="post">
        <div class="env-form__row" style="align-items:center;">
            <!--Namn-->
            <div class="env-form-element env-form-element--5">
                <label for="name" class="env-form-element__label">Namn</label>
                <div class="env-form-element__control">
                    <div class="env-form-element__control">
                        <% if(name){ %>
                            <%if(name !== "*"){%>
                                <input name="name" type="text" minlength="2" class="env-form-input" id="name" value="<%= decodeURIComponent(name) %>" />
                            <% } else{ %>
                                <input name="name" type="text" minlength="2" class="env-form-input" id="name" />
                            <% } %>
                        <% } else{ %>
                            <input name="name" type="text" minlength="2" class="env-form-input" id="name" />
                        <% } %> 
                    </div>
                </div>
            </div>
            <!--Skola-->
            <div class="env-form-element env-form-element--5">
                <label for="select-school" class="env-form-element__label">Skola</label>
                <div class="env-form-element__control">
                    <select class="env-form-input" id="select-school" name="school">
                        <% if(selectedSchool){ %>
                            <%if(selectedSchool !== "*"){%>
                                <option selected disabled hidden value="<%= selectedSchool %>"><%- selectedSchool %></option>
                                <option value="">- Välj eller sök skola -</option>
                            <% } else{ %>
                                <option selected hidden value="">- Välj eller sök skola -</option>
                            <% } %>
                        <% } else{ %>
                        <option selected hidden value="">- Välj eller sök skola -</option>
                        <% } %>
                        <% for(var i = 0; i < schoolsArea.length; i++) { %>
                        <optgroup label="<%= schoolsArea[i] %>">
                            <% for(var x = 0; x < schools.length; x++) { %>
                                <% if(schools[x].area === schoolsArea[i]){ %>
                                <option data-dsid="<%= schools[x].dsid %>" value="<%= schools[x].name %>">
                                    <%- schools[x].name %></option>
                                <% } %>
                            <% } %>
                        </optgroup>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="env-form-element" style="margin: 0!important; text-align: right;">
                <button type="submit" class="lax-button env-button env-button--primary">
                    Sök
                </button>
            </div>
        </div>
    </form>
    <% if(editGroup) { %>
        <div class="env-alert lax-alert env-alert--success" role="alert"><strong>Gruppen uppdaterades</strong></div>
    <% } %>
    <% if(groups){ %>        
        <% if(groups.length){%>
            <div class="lax-hits-wrapper"> 
                <h4>Sökresultat</h4>
                <p>Totalt <em><%= groups.length %></em> <% if(groups.length === 1){%> träff <% } else {%> träffar <% } %></p>
            </div>
            <!--Render Groups-->
            <%= renderer.renderComponent('Groups-List') %>
        <% } else{ %>     
            <div class="lax-hits-wrapper">        
                <h4>Hittade inga grupper baserade på din sökning.</h4> 
            </div>           
        <% } %>
      
    <% } %>
</div>