<p class="lax-tutor__heading"><%- name %></p>
<a href="<%= getUrl('/manage-tutor', {tutorId: id, queryparams: queryparams} )%>" class="lax-button env-button env-button--primary"
    data-id="<%= id %>" data-handle-student>Hantera elever <i class="fa fa-chevron-right" aria-hidden="true"></i></a>