<div class="lax-panel">
    <h3>Lägg till elev</h3>
    <form class="lax-form env-form lax-form__add-student" action="<%= getUrl('/add-student') %>" method="post"
        enctype="multipart/form-data">
        <div class="env-form__row">
            <!--Förnamn-->
            <div class="env-form-element">
                <label for="firstname" class="env-form-element__label">Förnamn *</label>
                <div class="env-form-element__control">
                    <input name="firstname" type="text" class="env-form-input" id="firstname" required />
                </div>
            </div>
            <!--Efternamn-->
            <div class="env-form-element">
                <label for="lastname" class="env-form-element__label">Efternamn *</label>
                <div class="env-form-element__control">
                    <input name="lastname" type="text" class="env-form-input" id="lastname" required />
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Personnummer-->
            <div class="env-form-element">
                <label for="socialsecurity" class="env-form-element__label">Personnummer *</label>
                <div class="env-form-element__control">
                    <input name="socialsecurity" type="text" class="env-form-input" id="socialsecurity"
                        pattern="[a-zA-Z0-9_.-]{6}-[a-zA-Z0-9_.-]{4}" placeholder="ÅÅMMDD-XXXX" required />
                </div>
            </div>
            <!--Telefonnummer-->
            <div class="env-form-element">
                <label for="phone" class="env-form-element__label">Telefonnummer</label>
                <div class="env-form-element__control">
                    <input name="phone" type="tel" class="env-form-input" id="phone" />
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Mailadress-->
            <div class="env-form-element">
                <label for="email" class="env-form-element__label">Mailadress</label>
                <div class="env-form-element__control">
                    <input name="email" type="email" class="env-form-input" id="email"
                        pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}" />
                </div>
            </div>
            <!--Startdatum-->
            <div class="env-form-element">
                <div class="env-form-element__control">
                    <label class="env-form-element__label" for="start-date">Startdatum *</label>
                    <input class="env-form-input" type="date" id="start-date" name="startdate"
                        value="<%= currentDateString %>" required>
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Skola-->
            <div class="env-form-element">
                <label for="select-school" class="env-form-element__label">Skola *</label>
                <div class="env-form-element__control">
                    <select class="env-form-input" id="select-school" name="school" required>
                        <option></option>
                        <% for(var i = 0; i < schoolsArea.length; i++) { %>
                        <optgroup label="<%= schoolsArea[i] %>">
                            <% for(var x = 0; x < schools.length; x++) { %>
                            <% if(schools[x].area === schoolsArea[i]){ %>
                            <option data-dsid="<%= schools[x].dsid %>"><%- schools[x].name %></option>
                            <% } %>
                            <% } %>
                        </optgroup>
                        <% } %>
                    </select>
                </div>
            </div>
            <!--Årskurs-->
            <div class="env-form-element">
                <label for="select-grade" class="env-form-element__label">Årskurs *</label>
                <div class="env-form-element__control">
                    <select class="env-form-input" id="select-grade" name="grade" required>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Vårdnadshavare-->
            <div class="env-form-element">
                <label for="caregiver" class="env-form-element__label">Vårdnadshavare</label>
                <div class="env-form-element__control">
                    <input name="caregiver" type="text" class="env-form-input" id="caregiver" />
                </div>
            </div>
            <!--Telefonnummer till vårdnadshavare-->
            <div class="env-form-element">
                <label for="phonecaregiver" class="env-form-element__label">Telefonnummer till vårdnadshavare</label>
                <div class="env-form-element__control">
                    <input name="phonecaregiver" type="tel" class="env-form-input" id="phonecaregiver" />
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Kontrakt-->
            <div class="env-form-element">
                <label for="file-upload" class="env-form-element__label">Kontrakt</label>
                <div class="env-form-element__control">
                    <input class="lax-form-input__file env-form-input" name="file" type="file" id="file"
                        accept="image/*, application/pdf"/>
                </div>
            </div>
        </div>
        <div class="env-form-element">
            <button type="submit" class="lax-button env-button env-button--primary">
                Lägg till
            </button>
        </div>
    </form>
    <% if(success){ %>
        <% if(alertType === "success"){%>
        <div class="env-alert lax-alert env-alert--success" role="alert"><strong><%- message %></strong></div>
        <% } else { %>
        <div class="env-alert lax-alert env-alert--danger" role="alert"><strong><%- message %></strong></div>
        <% } %>
    <% } %>
</div>