<div class="lax-tabs">
    <ul class="lax-tabs__nav">
        <li class="lax-tabs__item">
            <a class="lax-tabs__link lax-tabs__link--active" href="javascript:;" tabindex="0">Lägg till elev <i
                    class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a class="lax-tabs__link" href="<%= getUrl('/search-students') %>" tabindex="0">Sök
                elev <i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
<%= renderer.renderComponent('Add-Student') %>