<div class="lax-tabs">
    <ul class="lax-tabs__nav">
        <li class="lax-tabs__item">
            <a class="lax-tabs__link" href="<%= getUrl('/') %>" tabindex="0">Lägg
                till elev <i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a class="lax-tabs__link lax-tabs__link--active" href="javascript:;" tabindex="0">Sök
                elev <i class="fa fa-search" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
<div class="lax-panel">
    <h3>Sök elev</h3>
    <form class="lax-form env-form lax-form__search-students" action="<%= getUrl('/search-students') %>" method="post">
        <div class="env-form__row">
            <!--Namn-->
            <div class="env-form-element">
                <label for="name" class="env-form-element__label">Namn</label>
                <div class="env-form-element__control">
                    <div class="env-form-element__control">
                        <% if(query){ %>
                            <%if(query.hasOwnProperty('name') && query.name !== "*"){%>
                                <input name="name" type="text" minlength="2" class="env-form-input" id="name" value="<%= decodeURIComponent(query.name) %>" />
                            <% } else{ %>
                                <input name="name" type="text" minlength="2" class="env-form-input" id="name" />
                            <% } %>
                        <% } else{ %>
                            <input name="name" type="text" minlength="2" class="env-form-input" id="name" />
                        <% } %>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Skola-->
            <div class="env-form-element">
                <label for="select-school" class="env-form-element__label">Skola</label>
                <div class="env-form-element__control">
                    <select class="env-form-input" id="select-school" name="school">
                        <% if(query){ %>
                            <%if(query.hasOwnProperty('school') && query.school !== "*"){%>
                                <option selected disabled hidden value="<%= query.school %>"><%- query.school %></option>
                                <option value="">- Välj eller sök skola -</option>
                            <% } else{ %>
                                <option selected hidden value="">- Välj eller sök skola -</option>
                            <% } %>
                        <% } else{ %>
                        <option selected hidden value="">- Välj eller sök skola -</option>
                        <% } %>
                        <% for(var i = 0; i < schoolsArea.length; i++) { %>
                        <optgroup label="<%= schoolsArea[i] %>">
                            <% for(var x = 0; x < schools.length; x++) { %>
                                <% if(schools[x].area === schoolsArea[i]){ %>
                                <option data-dsid="<%= schools[x].dsid %>" value="<%= schools[x].name %>">
                                    <%- schools[x].name %></option>
                                <% } %>
                            <% } %>
                        </optgroup>
                        <% } %>
                    </select>
                </div>
            </div>
            <!--Status-->
            <div class="env-form-element">
                <label for="select-status" class="env-form-element__label">Status</label>
                <div class="env-form-element__control">
                    <select id="select-status" class="env-form-input" name="status">
                        <% if(query){ %>                            
                            <%if(query.hasOwnProperty('status') && query.status !== "*"){%>
                            <option selected disabled hidden value="<%= query.status %>">
                                <%- query.status %></option>
                            <% } else{ %>
                            <option selected disabled hidden value="">- Välj status -</option>
                            <% } %>
                        <% } else {%>
                        <option selected disabled hidden value="">- Välj status -</option>
                        <% } %>
                        <option value="">- Välj status -</option>
                        <option value="Aktiv">Aktiv</option>
                        <option value="Fullbordad utbildning">Fullbordad utbildning</option>
                        <option value="Avhoppad">Avhoppad</option>
                        <option value="Avstängd">Avstängd</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <div class="env-form-element">
                <button type="submit" class="lax-button env-button env-button--primary">
                    Sök
                </button>
            </div>
        </div>
    </form>
    <% if(editStudent){ %>
        <% if (editStudent.success) { %>
            <% if(editStudent.alertType === "success") { %>
            <div class="env-alert lax-alert env-alert--success" role="alert"><strong><%- editStudent.message %></strong></div>
            <% } else { %>
            <div class="env-alert lax-alert env-alert--danger" role="alert"><strong><%- editStudent.message %></strong></div>
            <% } %>
        <% } %>
    <% } %>
    <% if(studentList){%>
        <% if(studentList.length){%>
        <div class="lax-hits-wrapper">
            <h4>Sökresultat</h4>
            <p>Totalt <em><%= studentList.length %></em> <% if(studentList.length === 1){%> träff <% } else {%> träffar
                <% } %></p>
        </div>
        <!--Render students-->
        <%= renderer.renderComponent('Student-List') %>
        <% } else{%>
        <div class="lax-hits-wrapper">
            <h4>Hittade inga elever baserade på din sökning.</h4>
        </div>
        <% } %>
    <% } %>
</div>