<div id="heading-<%= dsid %>" class="lax-accordion__heading-wrapper">
    <a href="#container-<%= dsid %>" class="lax-accordion__heading" data-env-accordion
        aria-controls="container-<%= dsid %>" data-name="<%= name %>">
        <%- name %>
        <span><i class="fa fa-chevron-down fa-1" aria-hidden="true"></i></span>
    </a>
</div>
<div id="container-<%= dsid %>" class="env-accordion" aria-expanded="true" aria-labelledby="heading-<%= dsid %>"
    data-parent="#lax-accordion">
    <form class="lax-form env-form lax-form__edit-student" action="<%= getUrl('/edit-student') %>" method="post"
        enctype="multipart/form-data">
        <!--DSID-->
        <div class="env-form-element" style="display:none">
            <div class="env-form-element__control">
                <input name="dsid" type="text" class="env-form-input" value="<%= dsid %>" required readonly />
            </div>
        </div>
        <!--Query-->
        <div class="env-form-element" style="display:none">
            <div class="env-form-element__control">
                <input name="query" type="text" class="env-form-input" value="<%- query %>" required readonly />
            </div>
        </div>
        <div class="env-form__row">
            <!--Förnamn-->
            <div class="env-form-element">
                <label for="firstname" class="env-form-element__label">Förnamn</label>
                <div class="env-form-element__control">
                    <input name="firstname" type="text" class="env-form-input" value="<%= firstname %>" required
                        readonly title="Förnamn går inte att redigera" />
                </div>
            </div>
            <!--Efternamn-->
            <div class="env-form-element">
                <label for="lastname" class="env-form-element__label">Efternamn</label>
                <div class="env-form-element__control">
                    <input name="lastname" type="text" class="env-form-input" value="<%= lastname %>" required readonly
                        title="Efternamn går inte att redigera" />
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Personnummer-->
            <div class="env-form-element">
                <label for="socialsecurity-<%=dsid%>" class="env-form-element__label">Personnummer</label>
                <div class="env-form-element__control">
                    <input id="socialsecurity-<%=dsid%>" name="socialsecurity" type="text" class="env-form-input"
                        pattern="[0-9]{6}-[0-9]{4}" placeholder="ÅÅMMDD-XXXX" value="<%= socialsecurity %>" readonly
                        required title="Personnummer går inte att redigera" />
                </div>
            </div>
            <!--Telefonnummer-->
            <div class="env-form-element">
                <label for="phone-<%=dsid%>" class="env-form-element__label">Telefonnummer</label>
                <div class="env-form-element__control">
                    <input id="phone-<%=dsid%>" name="phone" type="tel" class="env-form-input" value="<%= phone %>" />
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Mailadress-->
            <div class="env-form-element">
                <label for="email-<%=dsid%>" class="env-form-element__label">Mailadress</label>
                <div class="env-form-element__control">
                    <input id="email-<%=dsid%>" name="email" type="email" class="env-form-input"
                        pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}" value="<%= email %>" />
                </div>
            </div>
            <!--Startdatum-->
            <div class="env-form-element">
                <div class="env-form-element__control">
                    <label for="startdate-<%=dsid%>" class="env-form-element__label">Startdatum</label>
                    <input id="startdate-<%=dsid%>" class="env-form-input" type="date" name="startdate"
                        value="<%= startdate %>">
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Skola-->
            <div class="env-form-element">
                <label for="select-school-<%=dsid%>" class="env-form-element__label">Skola</label>
                <div class="env-form-element__control">
                    <input id="select-school-<%=dsid%>" name="school" type="text" class="env-form-input"
                        value="<%= school %>" readonly required title="Skola går inte att redigera" />
                </div>
            </div>
            <!--Årskurs-->
            <div class="env-form-element">
                <label for="select-grade-<%=dsid%>" class="env-form-element__label">Årskurs</label>
                <div class="env-form-element__control">
                    <select id="select-grade-<%=dsid%>" class="env-form-input" name="grade" required>
                        <option selected readonly hidden value="<%= grade %>"><%- grade %></option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Vårdnadshavare-->
            <div class="env-form-element">
                <label for="caregiver-<%=dsid%>" class="env-form-element__label">Vårdnadshavare</label>
                <div class="env-form-element__control">
                    <input name="caregiver" id="caregiver-<%=dsid%>" type="text" class="env-form-input"
                        value="<%= caregiver %>" />
                </div>
            </div>
            <!--Telefonnummer till vårdnadshavare-->
            <div class="env-form-element">
                <label for="phonecaregiver-<%=dsid%>" class="env-form-element__label">Telefonnummer till
                    vårdnadshavare</label>
                <div class="env-form-element__control">
                    <input name="phonecaregiver" type="tel" class="env-form-input" id="phonecaregiver-<%=dsid%>"
                        value="<%= phonecaregiver %>" />
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <!--Kontrakt-->
            <div class="env-form-element">
                <% if(file !== ""){%>
                <label for="file-download-<%= dsid %>" class="env-form-element__label">Nuvarande kontrakt</label>
                <div class="env-form-element__control">
                    <input id="file-download-<%= dsid %>" style="display: none;" type="text" name="file" readonly
                        value="<%= file %>" />
                    <a id="file-download-<%= dsid %>" href="<%= file %>"
                        class="lax-button lax-download__button env-button env-button--primary" target="_blank" download>
                        Ladda ned kontrakt
                    </a>
                </div>
                <% } else{ %>
                <label for="file-upload-<%= dsid %>" class="env-form-element__label">Ladda upp kontrakt</label>
                <div class="env-form-element__control">
                    <input class="lax-form-input__file env-form-input" name="file" type="file"
                        id="file-upload-<%= dsid %>" accept="image/*, application/pdf" />
                </div>
                <% } %>
            </div>
        </div>
        <div class="env-form__row">
            <!--Status-->
            <div class="env-form-element">
                <label for="select-status-<%=dsid%>" class="env-form-element__label">Status</label>
                <div class="env-form-element__control">
                    <select id="select-status-<%=dsid%>" class="env-form-input" name="status" required>
                        <option selected readonly hidden value="<%= status %>"><%- status %></option>
                        <option value="Aktiv">Aktiv</option>
                        <option value="Fullbordad utbildning">Fullbordad utbildning</option>
                        <option value="Avhoppad">Avhoppad</option>
                        <option value="Avstängd">Avstängd</option>
                    </select>
                </div>
            </div>
            <div class="env-form-element">
                <div class="env-form-element__control">
                    <label class="env-form-element__label" for="end-date-<%= dsid %>">Slutdatum</label>
                    <input class="env-form-input" type="date" id="end-date-<%= dsid %>" name="enddate" value="<%if(enddate !==''){%><%= enddate %><%}%>">
                </div>
            </div>
        </div>
        <div class="env-form__row">
            <div class="env-form-element">
                <button type="submit" class="lax-button env-button env-button--primary">
                    Spara
                </button>
            </div>
        </div>
    </form>
</div>