<div class="lax-panel">
    <h3>Lägg till en ny skola</h3>
    <form class="lax-form env-form lax-form__add-school">
        <div class="env-form-element">
            <label for="school" class="env-form-element__label">Namn</label>
            <div class="env-form-element__control">
                <input name="school" type="text" class="env-form-input" id="school-text" required />
            </div>
        </div>
        <div class="env-form-element">
            <label for="adress" class="env-form-element__label">Adress</label>
            <div class="env-form-element__control">
                <input name="adress" type="text" class="env-form-input" id="adress-text" required />
            </div>
        </div>
        <div class="env-form-element">
            <label for="select-area" class="env-form-element__label">Område</label>
            <div class="env-form-element__control">
                <select class="env-form-input" id="select-area" name="area" required>
                    <option selected disabled hidden> - Välj ett område - </option>
                    <% for(var i = 0; i < areas.length; i++) { %>
                    <option data-dsid="<%= areas[i].dsid %>"><%- areas[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="env-form-element">
            <label for="contact-person" class="env-form-element__label">Kontaktperson</label>
            <div class="env-form-element__control">
                <input name="contact-person" type="text" class="env-form-input" id="contact-person-text" required />
            </div>
        </div>
        <!--Format-->
        <div class="env-form-element">
            <label for="contact-person-phone" class="env-form-element__label">Telefonnummer till kontaktperson</label>
            <div class="env-form-element__control">
                <input name="contact-person-phone" type="tel" class="env-form-input"
                    id="contact-person-phone-text" required />
            </div>
        </div>
        <div class="env-form-element">
            <label for="select-tutors" class="env-form-element__label">Läxhjälpare</label>
            <div class="env-form-element__control">
                <select id="tutors-select-multiple" class="env-form-input" name="tutors[]" multiple="multiple" required>
                    <% for(var x = 0; x < tutors.length; x++){ %>
                    <option data-user-id="<%= tutors[x].id %>" value="<%= tutors[x].name %>"><%- tutors[x].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="env-form-element">
            <button type="submit" class="lax-button env-button env-button--primary">
                Lägg till
            </button>
        </div>
    </form>
    <% if(responseSuccess){ %>
    <% if(alertType === "success"){%>
    <div class="env-alert lax-alert env-alert--success" role="alert"><strong><%- responseMessage %></strong></div>
    <% } else{ %>
    <div class="env-alert lax-alert env-alert--danger" role="alert"><strong><%- responseMessage %></strong></div>
    <% } %>
    <% } %>
</div>