<div class="lax-tabs">
    <ul class="lax-tabs__nav">
        <li class="lax-tabs__item">
            <a class="lax-tabs__link" href="<%= getUrl('/') %>" tabindex="0">Lägg till skola <i class="fa fa-plus"
                    aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a class="lax-tabs__link lax-tabs__link--active" href="javascript:;" tabindex="0">Ändra
                skola <i class="fa fa-edit" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
<div class="lax-panel">
    <% if (schoolsArea.length) { %>
    <h3>Ändra skola</h3>
    <form class="lax-form env-form lax-form__edit-school">
        <div class="env-form-element">
            <label for="select-school" class="env-form-element__label">Skola</label>
            <div class="env-form-element__control">
                <select class="env-form-input" id="select-school" name="school">
                    <option></option>
                    <% for(var i = 0; i < schoolsArea.length; i++) { %>
                    <optgroup label="<%= schoolsArea[i] %>">
                        <% for(var x = 0; x < schools.length; x++) { %>
                        <% if(schools[x].area === schoolsArea[i]){ %>
                        <option data-dsid="<%= schools[x].dsid %>"><%- schools[x].name %></option>
                        <% } %>
                        <% } %>
                    </optgroup>
                    <% } %>
                </select>
            </div>
        </div>
    </form>

    <% if(responseSuccess){ %>
    <% if(alertType === "success"){%>
    <div class="env-alert lax-alert env-alert--success" role="alert"><strong><%- responseMessage %></strong></div>
    <% } else{ %>
    <div class="env-alert lax-alert env-alert--danger" role="alert"><strong><%- responseMessage %></strong></div>
    <% } %>
    <% } %>
</div>
<%} else {%>
<p>Det finns inga skolor att visa</p>
</div>
<% } %>