<div class="lax-tabs">
    <ul class="lax-tabs__nav">
        <li class="lax-tabs__item">
            <a class="lax-tabs__link lax-tabs__link--active" href="javascript:;" tabindex="0">Lägg till skola <i
                    class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a class="lax-tabs__link" href="<%= getUrl('/edit-schools') %>" tabindex="0">Ändra
                skola <i class="fa fa-edit" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
<%= renderer.renderComponent('Add-school') %>