.lax-alert {
   margin: 1em 0;
}
.lax-alert__message {
   margin: 0 0 0 0.5em;
}
.lax-form__row {
   justify-content: space-between;
}
.lax-form__row .env-form-element {
   flex: inherit;
   margin: 0;
}
.lax-form__input-select {
   min-width: 250px;
}
.lax-list {
   display: grid;
   grid-template-columns: 2fr 2fr 5fr 1fr 1fr;
   list-style-type: none;
   padding: 0;
   margin: 0;
}
.lax-list:nth-child(odd) {
   background-color: #f1f5f4;
}
.lax-list__item {
   padding: 0.5em;
}
.lax-list li:nth-last-child(2) {
   text-align: right;
}
.lax-list__item:last-child {
   text-align: right;
}
.lax-list__item i {
   vertical-align: 0;
}
.lax-list__item i:hover {
   cursor: pointer;
   color: red;
}
.lax-action-group {
   display: flex;
   justify-content: space-between;
   border-top-color: #f1f5f4;
   border-top-style: solid;
   border-top-width: 1px;
   padding: 1em 0 0 0;
   margin: 2em 0 0 0;
}
.lax-form__text {
   margin: 0;
}
.lax-form__text--date {
   font-weight: bold;
}
.lax-hide {
   display: none;
}
input {
   font-family: inherit;
}
/*Accordions*/
#lax-accordion {
   border-right: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-top: 1px solid #ccc;
}
.lax-component {
   padding: 1em;
   background: #f1f5f4;
}
.lax-accordion__heading {
   text-decoration: none;
   font-size: 1em;
   display: flex;
}
.lax-alert__push {
   margin-left: auto;
}
.lax-accordion__heading-wrapper {
   margin: 1em 0 0 0;
}
/*Component table header*/
.lax-component__header {
   display: grid;
   grid-template-columns: 1fr 1fr 2fr 1fr 2fr 1fr;
   padding: 0.5em;
   margin: 0;
   align-items: center;
}
.lax-component__header p {
   margin: 0;
   font-weight: 600;
}
/*Timesheet list*/
.lax-timesheet-list {
   list-style-type: none;
   padding: 0.5em;
   margin: 0;
}
.lax-timesheet-list__item {
   display: grid;
   grid-template-columns: 2fr 2fr 1fr 2fr 1fr 2fr 1fr;
   list-style-type: none;
   padding: 0;
   margin: 0;
   align-items: center;
   margin: 0.5em 0;
   padding: 0 0 0.5em 0;
   border-bottom: 1px solid #ccc;
}
.lax-timesheet-list__item p {
   margin: 0;
}
.lax-accordion-container {
   border: 1px solid #ccc;
}

/*Component table header*/
.lax-component__header {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
   padding: 0.5em;
   margin: 0;
   align-items: center;
}

.lax-component__header2 {
   display: grid;
   grid-template-columns: 2fr 2fr 1fr 2fr 1fr 2fr 1fr;
   padding: 0.5em;
   margin: 0;
   align-items: center;
}

.lax-component__header,
.lax-component__header2 p {
   margin: 0;
   font-weight: 600;
}
.lax-accordion__heading i.lax-time-icon {
   padding-right: 5px;
}