<div class="lax-panel">
    <h3>Lägg till en ny region</h3>
    <form class="lax-form env-form lax-form__add-region">
        <div class="env-form-element">
            <label for="text" class="env-form-element__label">Namn</label>
            <div class="env-form-element__control">
                <input name="region" type="text" class="env-form-input" id="region-text" required />
            </div>
        </div>
        <div class="env-form-element">
            <label for="select-region" class="env-form-element__label">Regionansvarig</label>
            <div class="env-form-element__control">
                <select class="env-form-input" id="select-region" name="responsible" required>
                    <option selected disabled hidden> - Välj en regionansvarig - </option>
                    <option data-user-id="">Ingen ansvarig</option>
                    <% for(var i = 0; i < regionResponsible.length; i++) { %>
                    <option data-user-id="<%= regionResponsible[i].id %>"><%- regionResponsible[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="env-form-element">
            <button type="submit" class="lax-button env-button env-button--primary">
                Lägg till
            </button>
        </div>
    </form>
</div>