<div class="lax-tabs">
    <ul class="lax-tabs__nav">
        <li class="lax-tabs__item">
            <a id="new-region-tab" class="lax-tabs__link" href="<%= getUrl('/') %>" tabindex="0">Ny
                region <i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a id="edit-region-tab" class="lax-tabs__link" href="<%= getUrl('/edit-region') %>" tabindex="0">Ändra
                region <i class="fa fa-edit" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a id="new-area-tab" class="lax-tabs__link lax-tabs__link--active" href="javascript:;" tabindex="0">Nytt
                område <i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a id="edit-area-tab" class="lax-tabs__link" href="<%= getUrl('/edit-area') %>" tabindex="0">Ändra område <i
                    class="fa fa-edit" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
<div class="lax-panel">   
    <h3>Lägg till nytt område</h3>
    <form class="env-form lax-form lax-form__add-area">
        <div class="env-form-element">
            <label for="text" class="env-form-element__label">Namn</label>
            <div class="env-form-element__control">
                <input type="text" class="env-form-input" id="add-area-name" name="area" required />
            </div>
        </div>
        <div class="env-form-element">
            <label for="edit-region-select" class="env-form-element__label">Välj region</label>
            <div class="env-form-element__control">
                <select class="env-form-input lax-form__select-region" id="edit-region-select" name="region" required>
                    <option selected disabled hidden> - Välj en region - </option>
                    <% for(var i = 0; i < regionsList.length; i++){ %>
                    <option data-dsid="<%= regionsList[i].dsid %>"><%- regionsList[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="env-form-element">
            <label for="select-coach" class="env-form-element__label">Coach</label>
            <div class="env-form-element__control">
                <select class="env-form-input" id="add-coach-select" name="coach" required>
                    <option selected disabled hidden> - Välj en coach - </option>
                    <option data-user-id="">Ingen ansvarig</option>
                    <% for(var x = 0; x < coaches.length; x++){ %>
                    <option data-user-id="<%= coaches[x].id %>"><%- coaches[x].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="env-form-element">
            <button type="submit" class="lax-button env-button env-button--primary">
                Lägg till
            </button>
        </div>
    </form>
</div>