<div class="lax-tabs">
    <ul class="lax-tabs__nav">
        <li class="lax-tabs__item">
            <a id="new-region-tab" class="lax-tabs__link" href="<%= getUrl('/') %>" tabindex="0">Ny
                region <i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a id="edit-region-tab" class="lax-tabs__link lax-tabs__link--active" href="javascript:;" tabindex="0">Ändra
                region <i class="fa fa-edit" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a id="new-area-tab" class="lax-tabs__link" href="<%= getUrl('/add-area') %>" tabindex="0">Nytt område <i
                    class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a id="edit-area-tab" class="lax-tabs__link" href="<%= getUrl('/edit-area') %>" tabindex="0">Ändra område <i
                    class="fa fa-edit" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>
<div class="lax-panel">
    <% if(regionsList.length) {%>
    <h3>Ändra region</h3>
    <form class="env-form lax-form__edit-region">
        <div class="env-form-element">
            <label for="edit-region-select" class="env-form-element__label">Välj region</label>
            <div class="env-form-element__control">
                <select class="env-form-input lax-form__select-region" id="edit-region-select" required>
                    <option selected disabled hidden> - Välj en region - </option>
                    <% for(var i = 0; i < regionsList.length; i++){ %>
                    <option data-dsid="<%= regionsList[i].dsid %>"><%- regionsList[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>
    </form>
    <% if(responseSuccess){ %>
        <% if(alertType === "success"){%>
        <div class="env-alert lax-alert env-alert--success" role="alert"><strong><%- responseMessage %></strong></div>
        <% } else{ %>
        <div class="env-alert lax-alert env-alert--danger" role="alert"><strong><%- responseMessage %></strong></div>
        <% } %>
    <% } %>
    <%} else {%>
    <p>Det finns inga regioner att visa</p>
    <% } %>
</div>