<div class="lax-tabs">
    <ul class="lax-tabs__nav">
        <li class="lax-tabs__item">
            <a class="lax-tabs__link lax-tabs__link--active" href="#" tabindex="0">Ny
                region <i class="fa fa-plus" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a class="lax-tabs__link" href="<%= getUrl('/edit-region') %>" tabindex="0">Ändra
                region <i class="fa fa-edit" aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a class="lax-tabs__link" href="<%= getUrl('/add-area') %>" tabindex="0">Nytt område <i class="fa fa-plus"
                    aria-hidden="true"></i></a>
        </li>
        <li class="lax-tabs__item">
            <a class="lax-tabs__link" href="<%= getUrl('/edit-area') %>" tabindex="0">Ändra område <i class="fa fa-edit"
                    aria-hidden="true"></i></a>
        </li>
    </ul>
</div>

<%= renderer.renderComponent('Add-region') %>