/*Tabs*/
.lax-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
}
.lax-tabs__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
}
.lax-tabs__link {
    background-color: #fff;
    border-color: transparent;
    color: #202330;
    margin: 0 0.25em;
    padding: 0.5em;
    outline: 0;
    text-decoration: none;
    transition: border-color 0.5s ease;
}
.lax-tabs__link--active {
    color: #202330;
    border-bottom: 3px solid #00aaeb;
}
/*Panel*/
.lax-panel {
    padding: 2em 0;
}
/*Input fields*/
.lax-form-input__file {
    border: none;
    display: inline-block;
    padding: 0.5em 0;
    width: auto;
    background: none;
}
/*Button*/
.lax-button {
    background-color: #00aaeb;
    border-color: #00aaeb;
}
.lax-button:hover {
    background-color: #0099d3;
    border-color: #0099d3;
}
.lax-button:focus {
    background-color: #0099d3;
    border-color: #0099d3;
}
.lax-button:visited {
    background-color: #0099d3;
    border-color: #0099d3;
}
/*Form alerts*/
.lax-form-alert {
    margin: 1em 0;
    padding: 0.4em;
    border-color: #e54242;
}
.lax-alert {
    margin: 1em 0;
}
/*Select2*/
.select2-container,
.select2-search__field,
.select2-selection {
    outline-color: #ccc;
}
.select2-container .select2-selection--single {
    height: calc(2.4em + 2px) !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: inherit !important;
}
/*Search result*/
.lax-hits-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}
.lax-hits-wrapper h4,
p {
    margin: 0;
}
.lax-hits-wrapper p {
    line-height: 2.4em;
    font-weight: 600;
}
/*Accordions*/
#lax-accordion {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.lax-form__edit-student {
    padding: 1em;
    background: #f1f5f4;
}
.lax-accordion__heading {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
/*Form in accordion*/
.lax-form__edit-student {
    border-top: 1px solid #ccc;
}
.lax-download__button {
    margin: 0.5em 0;
}
.lax-download__text {
    padding: 0.5em 0;
}
