<h3>Administrera tidrapporter</h3> 
<% if(success){ %>
<div class="env-alert lax-alert <% if(alertType === 'success'){ %> env-alert--success <% } else { %> env-alert--danger <% } %> " role="alert"><strong><%- message %></strong></div>
<% } %>
<%= renderer.renderComponent("Search-Timesheets") %>
