
<div>
    <form class="lax-form env-form lax-form__search-groups" action="<%= getUrl('/') %>" method="get">
        <div class="env-form__row" style="align-items:center;">
            <!--Namn-->
            <div class="env-form-element env-form-element--5">
                <label for="name" class="env-form-element__label">Namn på läxhjälpare</label>
                <div class="env-form-element__control">
                    <div class="env-form-element__control">
                        <input name="name" type="text" minlength="2" class="env-form-input" id="name" value="<%- tutorName ? tutorName : '' %>" />
                    </div>
                </div>
            </div>
            <!--Skola-->
            <div class="env-form-element env-form-element--5">
                <label for="select-school" class="env-form-element__label">Skola</label>
                <div class="env-form-element__control">
                    <select class="env-form-input" id="select-school" name="school">
                        <option></option>
                        <% for (var i = 0; i < schoolAreas.length; i++) { %>
                        <optgroup label="<%- schoolAreas[i].area %>">
                            <% for (var i2 = 0; i2 < schoolAreas[i].schools.length; i2++) { %>
                                <option data-dsid="<%- schoolAreas[i].schools[i2].dsid %>"
                                    value="<%- schoolAreas[i].schools[i2].dsid %>"
                                    <%= schoolAreas[i].schools[i2].dsid === schoolId ? "selected" : "" %>>
                                    <%- schoolAreas[i].schools[i2].name %>
                                </option>
                            <% } %>
                        </optgroup>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="env-form-element" style="margin: 0!important; text-align: right;">
                <button type="submit" class="lax-button env-button env-button--primary">
                    Sök
                </button>
            </div>
        </div>
    </form>
    
    <div>
        <% if (tutors.length === 0) { %>
            <div class="lax-hits-wrapper">        
                <h4>Hittade inga obesvarade tidrapporter.</h4> 
            </div>
        <% } else { %>
            <div class="lax-hits-wrapper"> 
                <h4>Sökresultat</h4>
                <p>Totalt <em><%= tutors.length %></em> <% if(tutors.length === 1){%> träff <% } else {%> träffar <% } %></p>
            </div>
            <%= renderer.renderComponent('Tutors-List', { tutors: tutors }) %>
        <% } %>
    </div>
</div>
