<h4><%= month %></h4>
<ul class="lax-timesheet-list">
    <% entries.sort(function (a, b) {return new Date(a.workDate) - new Date(b.workDate);}); %>
    <% for(var i = 0; i < entries.length; i++){ %>
    <li class="lax-timsheet-list__item2">
        <div class="env-form-element__control" role="group" aria-labelledby="checkbox-header">
            <div class="env-checkbox">
                <input type="checkbox" name="options" id="<%= entries[i].dsid %>" />
                <label class="env-form-element__label" for="<%= entries[i].dsid %>">
                    <span class="env-checkbox__fake"></span>
                    <span class="env-checkbox__label"></span>
                </label>
            </div>
        </div>
        <p><%- entries[i].sendDate.split("T")[0] %></p>
        <p><%- entries[i].workDate.split("T")[0] %></p>
        <p><%- entries[i].workType %></p>
        <p><%- entries[i].workStatus %></p>
        <p><%- entries[i].workHours %></p>
        <div class="lax-button__wrapper">
            <button type="button" class="lax-button__approve env-button env-button--success"
                data-dsid="<%= entries[i].dsid %>" data-type="approved">Godkänn</button>
            <button type="button" class="lax-button__reject env-button env-button--danger"
                data-dsid="<%= entries[i].dsid %>">Avslå</button>
        </div>
        <div id="edit-area-form-<%=entries[i].dsid%>" class="env-modal-dialog env-modal-dialog--hide" role="dialog"
            aria-labelledby="edit-area-form-<%=entries[i].dsid%>" aria-hidden="true" tabindex="-1" style="background-color:rgba(0,0,0,.5);">
            <div class="env-modal-dialog__dialog">
                <form class="env-form ros-form--rejectal">
                    <section class="env-modal-dialog__content">
                        <header class="env-modal-dialog__header lax-modal-dialog__header">
                            <h6 class="env-text env-modal-dialog__header__title">Avslå tidsrapport</h6>
                        </header>
                        <div class="env-modal-dialog__body">
                            <div class="env-form-element">
                                <label for="textarea-<%= entries[i].dsid %>" class="env-form-element__label">Orsak
                                    till
                                    avslag</label>
                                <div class="env-form-element__control">
                                    <textarea required class="env-form-input" id="textarea-<%=entries[i].dsid%>"
                                        maxlength="100" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <footer class="env-modal-dialog__footer lax-modal-dialog__footer">
                            <button type="submit" class="env-button env-button--danger" data-type="rejected"
                                data-dsid="<%=entries[i].dsid%>">Avslå</button>
                            <button type="button" data-modal-dialog-dismiss class="env-button">Avbryt</button>
                        </footer>
                    </section>
                </form>
            </div>
        </div>
    </li>
    <% } %>
</ul>
<p class="lax-timesheet__highlight">Totalt: <%- hours %> timmar</p>