<div id="heading-<%= id %>" class="lax-accordion__heading-wrapper">
    <a href="#container-<%= id %>" class="lax-accordion__heading" data-env-accordion aria-controls="container-<%= id %>"
        data-name="<%= name %>" data-target="#container-<%= id %>">
        <%- name %>
        <%if(timesheets.length){ %>
        <% var timesheetsLength = 0; %>
        <span style="font-weight:400;">
            <i class="lax-time-icon fa fa-clock-o fa-lg" aria-hidden="true"></i><em>
                <% for(var i = 0; i < timesheets.length; i++){ %>
                    <% timesheetsLength = timesheetsLength + timesheets[i].entries.length %>
                <% } %>
                <%= timesheetsLength %>
                <%if(timesheetsLength === 1){ %>
                    tidsrapport
                <%} else {%>
                    tidsrapporter
                <% } %>
                väntar på granskning
            </em></span>
        <% } %>
        <span><i class="fa fa-chevron-down fa-1" aria-hidden="true"></i></span>
    </a>
</div>
<div id="container-<%= id %>" class="env-accordion" aria-expanded="false" aria-labelledby="heading-<%= id %>"
    data-parent="#lax-accordion">
    <div class="lax-component">
        <!--Render List component of tutors timesheets-->
        <% if(timesheets.length){ %>
        <div class="lax-component__header2">
            <p>Månad</p>
            <p>Inskickat datum</p>
            <p>Datum</p>
            <p>Typ</p>
            <p>Arbete</p>
            <p>Antal timmar</p>
            <p style="text-align: right;">Status</p>
        </div>
        <%= renderer.renderComponent('Timesheets-List', {timesheets: timesheets}) %>
        <button type="button" class="lax-button__approve--marked env-button env-button--success" data-id="<%=id%>"
            data-type="approved">Godkänn markerade</button>
        <% } else{ %>
        <p>Det finns inga tidsrapporter att visa.</p>
        <% } %>
        <body>
            <input type="button" class="lax-button__selectAll env-button env-button--primary" onclick='selects(this)' value="Markera alla"/>
            <input type="button" class="lax-button__selectAll env-button env-button--primary" onclick='deSelect()' value="Avmarkera alla"/>  
        </body>
        <script type="text/javascript">  
            function selects(source){  
                var ele=document.getElementsByName('options');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=true;  
                }  
            }    
            function deSelect(){  
                var ele=document.getElementsByName('options');  
                for(var i=0; i<ele.length; i++){  
                    if(ele[i].type=='checkbox')  
                        ele[i].checked=false;  
                      
                }  
            }           
        </script>    
    </div>
</div>