<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Konfigurera inställningarna</h3>
    </div>

    <div class="panel-body">
        <div class="form-group">
            <label>Välj den grupp som skall kunna tidsrapportera på webbplatsen.</label>
            <input class="form-control" data-component="user-selector" name="tutorgroup" data-removable>
        </div>
    </div>
</div>