/*Tabs*/
.lax-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
}
.lax-tabs__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
}
.lax-tabs__link {
    background-color: #fff;
    border-color: transparent;
    color: #202330;
    margin: 0 0.25em;
    padding: 0.5em;
    outline: 0;
    text-decoration: none;
    transition: border-color 0.5s ease;
}
.lax-tabs__link--active {
    color: #202330;
    border-bottom: 3px solid #00aaeb;
}
/*Button*/
.lax-button {
    background-color: #00aaeb;
    border-color: #00aaeb;
}
.lax-button:hover {
    background-color: #0099d3;
    border-color: #0099d3;
}
.lax-button:focus {
    background-color: #0099d3;
    border-color: #0099d3;
}
.lax-button:visited {
    background-color: #0099d3;
    border-color: #0099d3;
}
/*Panel*/
.lax-panel {
    padding: 2em 0;
}
/*Form row*/
.lax-form__row {
    align-items: center;
}
/*Form button*/
.lax-form-element__button {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
}
/*Form alerts*/
.lax-form-alert {
    margin: 1em 0;
    padding: 0.4em;
    border-color: #e54242;
}
.lax-alert {
    margin: 1em 0;
}
/*Select2*/
.select2-container {
    width: 100% !important;
}
.select2-container,
.select2-search__field,
.select2-selection {
    outline-color: #ccc;
}
.select2-container .select2-selection--single {
    height: calc(2.4em + 2px) !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: inherit !important;
}
/*Accordions*/
#lax-accordion {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.lax-component {
    padding: 1em;
    background: #f1f5f4;
    border-top: 1px solid #ccc;
}
.lax-accordion__heading {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
/*Tutor list*/
.lax-tutor-list {
    list-style-type: none;
    padding: 0;
}
.lax-tutor-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    border: 1px solid #ccc;
    margin: 1em 0;
    background: #fff;
}
.lax-tutor__heading {
    margin: 0 1em 0 0;
    font-size: 1em;
    font-weight: 600;
}
/*Student list*/
.lax-student-list {
    list-style-type: none;
    padding: 0;
}
.lax-student-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    border: 1px solid #ccc;
    margin: 1em 0;
    background: #fff;
}
.lax-student__heading {
    margin: 0 1em 0 0;
    font-size: 1em;
    font-weight: 600;
}
/*Form*/
.lax-form__row {
    align-items: center;
}
/*Wrapper for search result*/
.lax-hits-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    align-items: center;
}
.lax-hits-wrapper h4,
.lax-hits-wrapper p {
    margin: 0;
}
