/*Tabs*/
.lax-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
 }
 .lax-tabs__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
 }
 .lax-tabs__link {
    background-color: #fff;
    border-color: transparent;
    color: #202330;
    margin: 0 0.25em;
    padding: 0.5em;
    outline: 0;
    text-decoration: none;
    transition: border-color 0.5s ease;
 }
 .lax-tabs__link--active {
    color: #202330;
    border-bottom: 3px solid #00aaeb;
 }
/*Accordions*/
#lax-accordion {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.lax-component {
    padding: 1em;
    background: #f1f5f4;
    border-top: 1px solid #ccc;
}
.lax-accordion__heading {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
.lax-modal-dialog__header {
    background-color: #00aaeb;
}
.lax-timesheet__highlight {
    font-weight: 600;
}
/*Panel*/
.lax-panel {
    padding: 2em 0;
}
/*Component table header*/
.lax-component__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
    padding: 0.5em;
    margin: 0;
    align-items: center;
}

.lax-component__header2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0.5em;
    margin: 0;
    align-items: center;
}

.lax-component__header,
.lax-component__header2 p {
    margin: 0;
    font-weight: 600;
}
.lax-accordion__heading i.lax-time-icon {
    padding-right: 5px;
}
/*Timesheet list*/
.lax-timesheet-alert {
    margin: 1em 0 1em 0;
}
.lax-timesheet__month-list {
    list-style-type: none;
    padding: 0;
}
.lax-timesheet__month-list-item {
    border-bottom: 2px solid #ccc;
}
.lax-timesheet-list {
    margin: 0;
    padding: 0;
}
.lax-timsheet-list__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr;
    list-style-type: none;
    padding: 0.5em;
    margin: 0;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.lax-timsheet-list__item2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
    list-style-type: none;
    padding: 0.5em;
    margin: 0;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.lax-timsheet-list__item:last-of-type {
    border-bottom: 0;
}
.lax-timsheet-list__item p {
    margin: 0;
}
/*Button*/
.lax-button {
    background-color: #00aaeb;
    border-color: #00aaeb;
}
.lax-button:hover {
    background-color: #0099d3;
    border-color: #0099d3;
}
.lax-button:focus {
    background-color: #0099d3;
    border-color: #0099d3;
}
.lax-button:visited {
    background-color: #0099d3;
    border-color: #0099d3;
}
/*Button wrapper*/
.lax-button__wrapper {
    text-align: right;
}
.lax-button__approve,
.lax-button__reject {
    max-width: 91px;
    min-width: 91px;
}
.lax-button__approve {
    margin-bottom: 1px;
}
.lax-button__reject {
    margin-top: 1px;
}
.lax-alert {
    margin: 1em 0 1em 0;
}

.lax-button__selectAll{
    max-width: 111px;
    min-width: 111px;
    margin-bottom: 1px;
    margin: 1em 0 1em 0;
    white-space: nowrap;
}

/*Select2*/
.select2-container {
    width: 100% !important;
}
.select2-container,
.select2-search__field,
.select2-selection {
    outline-color: #ccc;
}
.select2-container .select2-selection--single {
    height: calc(2.4em + 2px) !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: inherit !important;
}