/*Tabs*/
.lax-tabs {
   list-style: none;
   margin: 0;
   padding: 0;
   background-color: #fff;
   display: -ms-flexbox;
   display: flex;
}
.lax-tabs__nav {
   list-style: none;
   margin: 0;
   padding: 0;
   background-color: #fff;
   display: -ms-flexbox;
   display: flex;
}
.lax-tabs__link {
   background-color: #fff;
   border-color: transparent;
   color: #202330;
   margin: 0 0.25em;
   padding: 0.5em;
   outline: 0;
   text-decoration: none;
   transition: border-color 0.5s ease;
}
.lax-tabs__link--active {
   color: #202330;
   border-bottom: 3px solid #00aaeb;
}
/*Alert*/
.lax-alert {
   margin: 0;
}
/*Button*/
.lax-button {
   background-color: #00aaeb;
   border-color: #00aaeb;
}
.lax-button:hover {
   background-color: #0099d3;
   border-color: #0099d3;
}
.lax-button:focus {
   background-color: #0099d3;
   border-color: #0099d3;
}
.lax-button:visited {
   background-color: #0099d3;
   border-color: #0099d3;
}
/*Modal*/
.lax-modal-dialog__header {
   display: flex;
   justify-content: space-between;
   background-color: #00aaeb;
}
.lax-icon__close {
   color: #fff;
   line-height: inherit;
}
.lax-icon__close:hover {
   cursor: pointer;
   color: #d9d9d9;
}
.lax-panel {
   padding: 2em 0;
}
.lax-alert {
   margin: 0;
}
.lax-modal-body__content {
   padding: 0.5em 0;
}
.lax-list {
   display: grid;
   grid-template-columns: repeat(1, 100%);
   list-style-type: none;
   padding: 0;
   margin: 0;
}
.lax-list:nth-child(odd) {
   background-color: #f1f5f4;
}
.lax-list__item {
   padding: 0.5em 0;
}
.lax-modal-dialog__footer {
   display: grid;
   grid-template-columns: 5fr 5fr;
   grid-gap: 0.5em;
}
/*Select2*/
.select2-container {
   width: 100% !important;
}
.select2-container,
.select2-search__field,
.select2-selection {
   outline-color: #ccc;
}
.select2-container .select2-selection--single {
   height: calc(2.4em + 2px) !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
   line-height: 36px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
   height: inherit !important;
}
.select2-dropdown {
   z-index: 11000 !important;
}